<p>
  Confirm your email address to finish setting up your Drift account by visiting
  <%= link_to "this verification page", email_verification_url(@token) %>.

  This link will expire in 24 hours.
</p>
